OPENAI_API_KEY=

# AWS S3 configuration
USE_MINIO=True
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_ENDPOINT_URL=http://localhost:9000
AWS_REGION=us-east-1
S3_BUCKET=slidespeak-files

MONGO_DB_URL=mongodb://root:example@127.0.0.1:27017/

# Index Server configuration
INDEX_SERVER_HOST=127.0.0.1
INDEX_SERVER_PORT=5602
INDEX_SERVER_MAX_RETRIES=10
INDEX_SERVER_RETRY_INTERVAL=3
INDEX_SERVER_AUTH_KEY=your-secret-auth-key-here

# Server settings
DEBUG=True
PORT=5000

# Pinecone Configuration
PINECONE_API_KEY=
PINECONE_REGION=us-east-1
PINECONE_INDEX=pptx-index

# Other settings
UNOSERVER_URL=http://localhost:2004
UPLOAD_FOLDER=documents